<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Mardon.uz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= path == '/' ? 'active' : '' %>">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= path == '/about' ? 'active' : '' %>">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item <%= path == '/contacts' ? 'active' : '' %>">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item <%= path == '/login' ? 'active' : '' %>">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item <%= path == '/registration' ? 'active' : '' %>">
          <a class="nav-link" href="/registration">Register</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>